.container{
max-width: 1920px;
width: 100%;
margin: auto 0;

}
/* header  */ /* header  */ /* header  *//* header  *//* header  *//* header  *//* header  */

header{
  
width: 100%;
background-color: rgba(38, 38, 38, 1);
height:130px ;
display: flex;
justify-content: space-between;
align-items: center;
padding-left: 220px;
padding-right: 220px;
position: fixed;
margin-bottom: 200px;
z-index: 4;

}

nav{
  display: flex;
  width: 45%;
 
  justify-content: space-between;
}
.headerul{
  display: flex;
  justify-content: space-between;
  width: 100%;

}

.headerli{
display: flex;
  justify-content: space-between;

}
.headerlink{
  display: flex;
  justify-content: space-between;
  color: rgba(255, 255, 255, 1);
  text-decoration: none;

  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;

}
.home{
  color: rgba(220, 180, 122, 1);
  
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;

}



i{font-size: 32px;}
/* header  *//* header  *//* header  *//* header  *//* header  *//* header  *//* header  */
 

/* section1 */ /* section1 *//* section1 *//* section1 *//* section1 *//* section1 */
.section1{
padding-top: 120px;
  width: 100%;
  position: relative;
  margin-bottom: 120px;
}



img{
  object-fit: cover;
height: 100%;
width: 100%;
object-position: center;
}


.sectionbaner{
  position: absolute;
  width: 80%;
  height: 273px;
  top:60%;
  left: 50%;
  transform: translate(-50%,-50%);
  background-color: rgba(147, 147, 145, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 33px;
  border: 1px solid white;



}


.section1text1{

  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  font-size: 70px;
  text-align: center;
  color: white;
}

.search{ 
   background-color:rgba(162, 162, 162, 0.7);
   position: absolute;
   top: 120%;
   width: 300px;
   height: 50px;
   border-radius: 50px;
   border: 3px white solid;
   transform: translateX(-50%);
   color: white;
   font-size: 20px;
   
}
input{color: white;}

.fa-magnifying-glass{
  position: absolute;
  top: 123%;
  left: 58%;
}

/* section2 *//* section2 *//* section2 *//* section2 *//* section2 *//* section2 *//* section2 */



.section2{
 width: 80%;
 
 margin-inline: auto;
 margin-bottom: 120px;

 
}


.section2text{
font-size: 80px;
color: rgba(224, 140, 17, 1);
padding-bottom: 81px;

}

.cards{
  display: flex;
 justify-content: space-between;
 padding: 20px;
 gap: 50px;

}
.card{ 
  border: 3px solid rgba(220, 180, 122, 1);
  border-radius: 40px;
   padding: 30px 41px 80px;
}

.price{
margin-top: 10px;
display: flex;
justify-content: space-between;
align-items: center;

}

.cart{
  width: 32px;
height: 32px;
}

.fasi{
color: 
rgba(224, 140, 17, 1);
font-weight: 700;

}


.cardimg{

  margin-bottom: 10px;

 border-radius: 40px 40px 0 0;
}

/* footer  */ /* footer  *//* footer  *//* footer  *//* footer  *//* footer  *//* footer  */



footer{
width: 100%;
background-color: rgba(38, 38, 38, 1);


}

.footerdiv{
  text-align: center;
height: 377;
padding: 60px 400px;


}


.footertext1{
  color: white;
  font-weight: 600;
  font-style: normal;
  font-size: 60px;
  

}

.footertext2{color: white;
  font-weight: 300;
  font-style: normal;
  font-size: 20px;

padding: 20px 0 50px;}

  span{

  color: rgba(224, 140, 17, 1)

}


button{
  color: white;
background-color: rgba(224, 140, 17, 1);
font-size: 20px;
width: 30%;
height: 63px;
border-radius: 63px;
border: 3px solid white;

}

.viewmore{font-size: 20px;
text-decoration: none;
color: white;}